# Arquivos compilados
*.class
*.o
*.pyc
*.win
*.dev
*.layout
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.pdb
*.idb
*.obj
*.ilk
*.log
*..exe.recipe
Projeto1_private.h
# Arquivos temporários
*.tmp
*.bak
*.swp

# Diretórios específicos
/bin/
/build/
/dist/
/x64/
/Automato.7f85a838.tlog/
