# Arquivos compilados
*.class
*.o
*.pyc
*.win
*.dev
*.layout
*.exe
*.sln
*.obj
*.vcxproj
*.vcxproj.users
*.vcxproj.filters

Projeto1_private.h
# Arquivos temporários
*.tmp
*.bak
*.swp

# Diretórios específicos
/bin/
/build/
/dist/
/x64/
/.vs/
